---

---

<header class="site-header">
  <div class="header-inner">
    <a href="/" aria-label="Kevin Focke – home" class="logo">
      <span>Kevin Focke [fˈa͡ʊlki]</span>
    </a>
  </div>
</header>

<style is:global>
  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .header-inner {
    padding: 24px 0;
    text-align: center;
    border-bottom: 1px solid var(--color-white-10);
  }
  a.logo{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-style: italic;
  }
  @media(max-width: 767px){

  }
</style>
